# Metric Exploration

### Metrics of Interest

1. Monthly New Customers
2. Monthly Retention Rate
3. Monthly Active Users
4. Daily Active Users
5. Total Monthly Orders
6. Total Daily Orders
7. Daily Views Per Category
8. Engagement Rates (Per Action)

In [3]:
import sys
sys.path.insert(0, "..")
import pandas as pd
import numpy as np
import psycopg2 as pg
from secret import sql_credentials

conn = pg.connect(database=sql_credentials['database'],
                  user=sql_credentials['user'], 
                  password=sql_credentials['password'])

conn.autocommit = True

def run_query(q):
    with conn:
        try:
            cur = conn.cursor()
            cur.execute(q)
            return pd.read_sql(q, conn)

        except (Exception, pg.DatabaseError) as error:
            print(error)

### Monthly New Customers
Since I want to find new customers per month, and I don't have user sign up date, I'll use each user's first action as their `discovery_date`.

In [17]:
q = '''
    SELECT u.user_id, first_action
    FROM users u
    LEFT JOIN (SELECT DISTINCT user_id, 
                      MIN(event_time) AS first_action 
               FROM events
               GROUP BY 1) t
    ON u.user_id = t.user_id
    '''

run_query(q)

         user_id        first_action
0      494649301 2019-11-05 18:25:00
1      582585293 2019-12-05 18:54:00
2      589546241 2019-12-22 19:28:00
3      608744800 2020-01-31 18:35:00
4      614199290 2020-02-16 02:05:00
...          ...                 ...
91091  619380425 2020-02-24 05:32:00
91092  580189180 2019-12-01 10:37:00
91093  611638118 2020-02-07 12:29:00
91094  621630786 2020-02-28 20:23:00
91095  288156953 2019-11-10 14:01:00

[91096 rows x 2 columns]