In [1]:
import pandas as pd
import numpy as np
import psycopg2 as pg
from secret import sql_credentials

conn = pg.connect(database=sql_credentials['database'],
                  user=sql_credentials['user'], 
                  password=sql_credentials['password'])

conn.autocommit = True

def run_query(q):
    with conn:
        try:
            cur = conn.cursor()
            cur.execute(q)
            return pd.read_sql(q, conn)

        except (Exception, pg.DatabaseError) as error:
            print(error)

In [4]:
q = '''SELECT DATE_TRUNC('month', event_time), 
              COUNT(DISTINCT user_session) AS num_visits
       FROM events
       GROUP BY 1 
    '''

df = run_query(q)
df

  date_trunc  num_visits
0 2019-10-01       31304
1 2019-11-01       35705
2 2019-12-01       27954
3 2020-01-01       34709
4 2020-02-01       35730